doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Embracing failure

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/sole.css')
    // endbuild

  body

    article

      section(data-bespoke-state='title', data-bespoke-fullscreenbackground='img/avalanche.gif')
        h1 Embracing failure
        h3 Soledad Penadés / @supersole


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/poser.gif')
        h2.bullet I work at Mozilla


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/edna.jpg')
        h2.bullet With Jen AKA Edna Piranha


      section
        div.singleimage
          img(src='img/meatspaces.png')


      section
        div.singleimage
          img(src='img/ednarun.jpg')


      section
        div.singleimage
          img(src='img/funnyspanish.png')


      section(data-bespoke-fullscreenbackground='img/mozillairc.jpg')
        h2.bullet <tt>irc</tt> confessions time
        ul.bullet
          li Both you and <tt>ednapiranha</tt> are my role models...
          li ... I am afraid that anything I do will be poop...
          li ... and then I look at your repos and I see all those amazing projects there...

      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/wut.gif')
        h1 WUT


      section
        h3.bullet This person is creative, funny and knowledgeable.
        h2.bullet Also afraid of failure.
        h1.bullet This is so sad!


      section
        h3.bullet And how many more people are afraid too?
        h2.bullet So much wasted potential.
        h1.bullet This is not sad<span class="bullet">...</span>


      section
        h1 It’s tragic.


      section
        h1 Why is this happening?


      section
        h2.bullet How can I help my friend?
        h1.bullet How do we stop this tragedy?


      section
        h1 I went browsing...


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/success.gif')
        h2.bullet Talks on success


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/ninjas.gif')
        h2.bullet WANTED
        h3 Ninjas &amp; heroes


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/rankings.gif')
        h2.bullet Arbitrary rankings


      section(data-bespoke-fullscreenbackground='img/clouds.gif')
        h1 Everyone wants to be a code hero


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/cool.gif')


      section()
        h1.bullet Maybe not.


      section(data-bespoke-fullscreenbackground='img/lightning.gif')
        h1 Massive dissonance


      section(data-bespoke-fullscreenbackground='img/neverhip.gif')


      section(data-bespoke-state='oneliner')
        h1 This is awfully unhealthy.


      section
        div.singleimage
          img(src='img/jsthegoodparts.jpg')

      section
        div.singleimage
          img(src='img/peoplethebadparts.png')

      section(data-bespoke-state='oneliner')
        h2.bullet The truth about heroes
        ul
          li They struggle with fear.
          li They are not perfect.
          li They are human.
          li Like you.


      section(data-bespoke-fullscreenbackground='img/crying.gif')


      section()
        h1.bullet So what’s the difference between <em>you</em> and a “hero”?


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/correcaminos.gif')
        h1.bullet We learn from failure

      section
        q.bullet Hey Edison, how does it feel to fail 10,000 times?
        q.bullet I have not failed, not once. I’ve discovered ten thousand ways that don’t work.


      section(data-bespoke-state='oneliner')
        h1.bullet We don’t compare with others

      section(data-bespoke-fullscreenbackground='img/haters_gonna_hate_mary_poppins.gif')

      section()
        video(src='video/localmin.webm', controls)


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/many.gif')
        h1.bullet We build many things


      section(data-bespoke-state='oneliner')
        h1.bullet We are “luckier” than the rest


      section(data-bespoke-state='oneliner')
        h1.bullet We are not afraid to give projects up


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/unknown.gif')
        h1.bullet We don’t fear the unknown


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/gonna_make_you_famous.gif')
        h1.bullet We welcome errors
        ul.bullet
          li Macabre pool<span class="bullet">: spooky turned creepy <a href="examples/macabre/v1/">1</a> <a href="examples/macabre/v2/">2</a> <a href="examples/macabre/v3/">3</a> <a href="http://5013.es/toys/macabre_pool">final</a></span>
          li MACCHINA II<span class="bullet">: drum physics turned spooky generator <a href="examples/macchina_ii/index_2.html">1</a> <a href="examples/macchina_ii/index_3.html">2</a> <a href="http://5013.es/toys/macchina_ii/">final</a></span>


      section
        div.singleimage
          img(src='img/bob.gif')


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/glitchy.gif')
        h1.bullet We might <em>intentionally</em> look for errors
        ul.bullet
          li <a href="http://5013.es/toys/macchina/">MACCHINA I</a>
          li <a href="http://lab.soledadpenades.com/js/radioworks/">radioworks</a>


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/uh-lol.gif')
        h1.bullet We also laugh at failure

      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/einstein.gif')
        h1.bullet We “get” relativity


      section(data-bespoke-state='title')
        h1.bullet Conclusions


      section(data-bespoke-state='oneliner')
        h3.bullet You are awesome.
        h2.bullet And weak. And scared.
        h1.bullet And it’s OK.


      section
        h2.bullet Always Be Learning.
        h2.bullet Care for yourself.
        h2.bullet Ask for help.
        h2.bullet Help others.


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/hero.jpg')
        h2.bullet We don’t need no code heroes


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/nba.gif')
        h2.bullet We need teamwork...


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/group-cry.gif')
        h3.bullet ... and hugs for when we fail!


      section(data-bespoke-state='title', data-bespoke-fullscreenbackground='img/london.gif')
        h1 Thanks!
        h2 <a href="https://twitter.com/supersole">@supersole</a>
        h3 <a href="http://soledadpenades.com">soledadpenades.com</a>




      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-fullscreenbackground/dist/bespoke-fullscreenbackground.js')
    script(src='bower_components/bespoke-convenient/dist/bespoke-convenient.js')
    script(src='bower_components/bespoke-indexfinger/dist/bespoke-indexfinger.js')
    script(src='bower_components/bespoke-secondary/dist/bespoke-secondary.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    script(src='scripts/ga.js')
    // endbuild

    
