doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Embracing failure

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/sole.css')
    // endbuild

  body

    article

      section(data-bespoke-state='title')
        h1 Embracing failure
        h3 Soledad Penadés / @supersole

      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/heypanda.jpg')
        h2.bullet Apps Engineer, Mozilla


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/')
        h2.bullet Everyone wants to be a code hero


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/success.gif')
        h2.bullet Talks on success


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/ninjas.gif')
        h2.bullet WANTED
        h3 Ninjas &amp; heroes


      section(data-bespoke-state='emphatic', data-bespoke-fullscreenbackground='img/rankings.gif')
        h2.bullet Arbitrary rankings


      section(data-bespoke-state='oneliner')
        h2.bullet Massive dissonance


      section(data-bespoke-state='oneliner', data-bespoke-fullscreenbackground='img/hero.jpg')
        h2.bullet We don't need no code heroes


      section(data-bespoke-state='oneliner')
        h2.bullet The truth about heroes
        ul
          li They struggle with fear.
          li They are not perfect.
          li They are human.
          li Like you.


      section(data-bespoke-state='oneliner')
        h1.bullet So what's the difference between you and a hero?


      section(data-bespoke-state='oneliner')
        h1.bullet We learn from failure
        q.bullet I have not failed, not once. I’ve discovered ten thousand ways that don’t work.


      section(data-bespoke-state='oneliner')
        h1.bullet We don't compare with others


      section(data-bespoke-state='oneliner')
        h1.bullet We build many things


      section(data-bespoke-state='oneliner')
        h1.bullet We are "luckier" than the rest


      section(data-bespoke-state='oneliner')
        h1.bullet We are not afraid to give projects up


      section(data-bespoke-state='oneliner')
        h1.bullet We don't fear the unknown


      section(data-bespoke-state='oneliner')
        h1.bullet We welcome errors


      section(data-bespoke-state='oneliner')
        h1.bullet We might <em>intentionally</em> look for errors


      section(data-bespoke-state='oneliner')
        h1.bullet We also laugh at errors <span class="bullet">(and failure!)</span>


      section(data-bespoke-state='oneliner')
        h1.bullet We 'get' relativity


      section(data-bespoke-state='oneliner')
        h1.bullet Conclusions
        ul
          li We are constantly learning
          li We don't compare with others
          li We build many things
          li We are "luckier" than the other people
          li We are not afraid to give projects up
          li We don't fear the unknown
          li We welcome errors
          li We might intentionally look for errors
          li We laugh at errors (and at failure)
          li We 'get' relativity


      section(data-bespoke-state='title')
        h1 Thanks!
        h2 <a href="https://twitter.com/supersole">@supersole</a>
        h3 <a href="http://soledadpenades.com">soledadpenades.com</a>




      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-fullscreenbackground/dist/bespoke-fullscreenbackground.js')
    script(src='bower_components/bespoke-convenient/dist/bespoke-convenient.js')
    script(src='bower_components/bespoke-indexfinger/dist/bespoke-indexfinger.js')
    script(src='bower_components/bespoke-secondary/dist/bespoke-secondary.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    script(src='scripts/ga.js')
    // endbuild

    
